/* Container Styling */
.Container {

    background-color: #faf9f6;
    width: fit-content;
    max-width: 60%;
    border-radius:15px;
    font-weight: 400;
  }
  
  /* Column Styling */
  .Col {
    padding: 1rem;

  }
  
  /* Header Styling */
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
  }
  
  /* Paragraph Styling */
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  /* First Paragraph Styling */
  p:first-of-type {
    margin-bottom: 1rem;
  }
/* Wrapper styling */
.img_wrapper {
  display: flex;
  justify-content: center; 
  margin-top:4rem;
  width: 100%;

}



/* Image styling */
.img_wrapper img {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}