.nameWrapper {
  display:flex;
 flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: center;
    
    }
    
    .nameWrapper h1 {
        font-family: 'Bevan', cursive;
        font-size:350%;
        width:100%;

    }
    
    
    .letter_large {
      font-size: 250%;
      text-transform: uppercase;
      background-color: transparent;
    
      /* Background Clip */
      -webkit-background-clip: text; 
      -moz-background-clip: text;    
      background-clip: text;       
    
      color: transparent;
    
      /* Text Stroke */
      -webkit-text-stroke: #fff; 
      -moz-text-stroke: #fff;   
    
      /* Text Stroke Width */
      -webkit-text-stroke-width: 1px;
      -moz-text-stroke-width: 1px;   
    
      /* Transition */
      -webkit-transition: all 0.5s ease-in-out; 
      -moz-transition: all 0.5s ease-in-out;    
      -o-transition: all 0.5s ease-in-out;      
      -ms-transition: all 0.5s ease-in-out;    
      transition: all 0.5s ease-in-out;        
    
      text-align: center;
    
      /* Animation */
      -webkit-animation: flicker 1s ease-in-out infinite alternate; 
      -moz-animation: flicker 1s ease-in-out infinite alternate;    
      -o-animation: flicker 1s ease-in-out infinite alternate;     
      -ms-animation: flicker 1s ease-in-out infinite alternate;    
      animation: flicker 1s ease-in-out infinite alternate;   
    }
    
        
    .imgWrapper
    {
      display:flex;
        width: 50%;
        justify-content: center;
      
    }
    
    .nameWrapper h5 {
        text-transform: uppercase;
        color:#fff;
        width:100%;

    
    }
    .imgWrapper img {
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        min-height: 200px;
        width: 65%;
        background: white;
        border-radius: 5px;
        margin-right:6vw;
    
        }
    
    
    .flex-container {
        display: flex;
        flex-direction: row;  
        align-items: center;
        width: 100%;
        margin-top:20vh;
    }
    
    /* Media Queries */
    @media screen and (max-width: 768px) {
        .nameWrapper {
          width: 100%;
        }
        .nameWrapper h1,
        .letter_large {
          font-size: 200%;
        }
        .imgWrapper,
        img {
          width: 100%;
        }
        nav,
        .flex-container {
          margin-left: 0;
          flex-direction: column;
          align-items: flex-start;
        }
      }

/* Navbar */
.navDiv {
  display:flex;
  justify-content: flex-end;
  background-color: #000;
  position: fixed;
top:0;
}
/* gradient effect */

.nav-link {

  margin-right:2rem;
}
.nav-link p {
    padding: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);  
    font-size: 1.5rem;  
    font-weight: 400; 
    letter-spacing: 1px;  
    padding: 1px;  
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 2px;  
    transition: background-image 2s, color 2s, transform 0.3s;
  }
  .smokey_transition {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to top, rgba(27, 27, 27, 0.7), transparent);
    backdrop-filter: blur(10px); /* Add blur */

  }
  /* Hover effect */
  .nav-link:hover p {
    background-clip: text;
    background-image: linear-gradient(to right, red, orange, yellow);
    background-size: 200% 100%;
    background-position: 100% 0;
    color: transparent;
    animation: gradientAnimation 3s infinite;
    transform: scale(1.5);
  }

  
  /* Animation for hover effect */
  @keyframes gradientAnimation {
    0% {
      background-position: 100% 0;
    }
    50% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  
  /* Media query for screens above 768px */
  @media (max-width: 768px) {
    .nav-link {
      margin-right:0; }
      .nav-link:hover p {

        transform: scale(1.25);
      }
  }

/* About module -
Container Styling */
.Container {
  margin-top:20vh;
    width: fit-content;
    max-width: 60%;
    border-radius:15px;
    font-weight: 400;
  }
  
  /* Column Styling */
  .Col {
    padding: 1rem;

  }
  
  /* Header Styling */
  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  /* Paragraph Styling */
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #ffffff;
  }
  
  /* First Paragraph Styling */
  p:first-of-type {
    margin-bottom: 1rem;
  }
/* Wrapper styling */
.img_wrapper {
  display: flex;
  justify-content: center; 
  margin-top:4rem;
  width: 100%;

}



/* Image styling */
.img_wrapper img {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Portfolio module */

.project-containers-wrapper {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; 
}

.project-container {
  display: flex;
  flex-direction: column;
    background-color: rgb(54, 54, 54);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1rem;
    margin: 1rem;
    width: 22.5%; }
  
  .image-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .project-img {
    width: 100%;
    height: auto;
  }
  
  .project-description {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 300;
  }



  .icon-link {
    font-size: 24px;
    color: #9f9f9f;
    padding: 5px;
    transition: all 0.3s ease;
  }
  .d-flex {
    display: flex;
    justify-content: center; 
    align-items: center;      
    padding: 2rem 0;       
  }

  .subcategori {
    display:flex;
    justify-content: flex-start;
    align-items:self-start;
    width:100%;
  }

  @media screen and (max-width: 768px) {
    .project-container {
        width: 80%;
    }
}

/* Contact module */
  
#contact {

    height: 100%;
    text-align: center; 
    max-width: 100%;  
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
 .contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}
  
  .form-horizontal {
    margin: 0 auto; 
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  
  .form-control, 
  textarea {
    max-width: 90%;
    width: 60vw;
    color: #ffffff;  
    background-color: transparent; 
    outline: none;
    box-shadow: none;
    margin-bottom: 1vh;
  }
  
  .form-control:focus, textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #333; 
  }

  .button-wrapper {
    display: flex;  
    align-items: center;
    justify-content: center;
  }
/* contact.css */
.send-button {
  margin: 15px auto;
  height: 34px;
  width: auto;
  color: #000000;
  background-color: transparent;
  overflow: hidden;
  transition: all .2s ease-in-out;
  outline: none;
  border-radius: 50px;
  border:#faf9f6;
}

.send-button:focus, .send-button:hover {
  outline: none;
  box-shadow: none;

}
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
.send-button:hover, .send-button:focus {
  background-color: #333;  
  color: #faf9f6;  
  border: 1px solid #333;  
  outline: none;
  box-shadow: none;
  color: silver;
  background-color: #000;
}

.alt-send-button:hover {
  background-color: #333;  /* Set to your desired hover background color */
  color: #faf9f6;  /* Set to your desired hover text color */
  transform: translate3d(0px, -29px, 0px);
  color: silver;
  background-color: #000;
}
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: auto;  
    }
  }
  
 /* Target the footer */
.footer {
  display:flex;
  justify-content: center;
  background-color: #000000; 
  padding: 1.5rem 0; 
  width:100%;
position: fixed;
bottom:0;
}


.footer .btn {
  margin: 0 30px; 

}


.footer span {
  font-size: 1rempx; 

color: #ffffff;
}
    
    .social-icon i {
      font-size: 24px;
      color: #000;
      border: 2px solid silver;
      border-radius: 50%;
      padding: 10px;
      transition: all 0.3s ease;
    }
    
    .social-icon:hover i {
      color: silver;
      background-color: #000;
    }