
.container-fluid p {
  padding: 1.25rem;

  color: var(--color-background);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
  transition: background-image 2s, color 2s, transform 0.3s;
 
}


.container-fluid p:hover {
  background-clip: text;
  background-image: linear-gradient(to right,red, orange, yellow);
  background-size: 200% 100%; 
  background-position: 100% 0;
  color: transparent;
  animation: gradientAnimation 3s infinite;
  transform: scale(1.5);
}

@keyframes gradientAnimation {
  0% {
      background-position: 100% 0;
  }
  50% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
  }
}
  
  @media (min-width: 768px) {
    .navbar{

      float: none;
      display: inline-block;
      text-align: center !important;
    }
  }
  
  body {
    background-color: rgba(0,0,0,1);
    font-weight:600;

    color: white;
  }
  
  nav {
    background: none !important;
    text-transform:uppercase;
    li {
      margin-left: 3em;
      margin-right: 3em;
      a{
        transition: .5s color ease-in-out;
      }
    }
  }
  
  .page-title {
    opacity: .75 !important;
  }