

.project-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    width: 500px; }
  
  .image-wrapper {
    width: 100%;
    overflow: hidden;
  }
  
  .project-img {
    width: 100%;
    height: auto;
  }
  
  .project-description {
    margin-top: 0.5rem;
    text-align: center;
  }
  .d-flex {
    display: flex;
    justify-content: center; 
    align-items: center;      
    padding: 2rem 0;       
  }